<!DOCTYPE html>
<html ng-app="RTCServer">
    <head>
        <title><%= "RTC Server" %></title>
        <base href="/" />
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="javascripts/adapter.js"></script>
        <script type="text/javascript" src="javascripts/rtcClient.js"></script>

        <script type="text/javascript" src="https://ajax.loli.net/ajax/libs/angularjs/1.3.15/angular.min.js">
        </script>
        <script type="text/javascript" src="javascripts/app.js"></script>
    </head>
    <body><center>

<!--        <h1><%= "RTC Server" %></h1>-->

<!--        <h2>Remote Streams</h2>-->
        <div ng-controller="RemoteStreamsController as rtc">
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Stream Name</th><th>Stream Control</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">-->
<!--                <td><a><center>{{stream.name}}</center></a></td>-->
<!--                <td ng-click="rtc.view(stream)"><a><center>View</center></a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
            <div id="remoteVideosContainer"></div>
<!--        <li ng-click="rtc.loadData()" style="width: 240px">-->
<!--            <a href>Refresh</a>-->
<!--        </li>-->
<!--        <h4><%= "ZhiPeng Li" %></h4>-->
    </center></body>
</html>